/* CCS kleuren variablen en google import for Noto Sans (Paragraph) en Poppins (headers) */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 :root {
    --backgroundColor: #0B1021;
    --paragraphColor: #FAFAFF;
    --secundaryColor: #E4D9FF;
    --accentColor1: #FF784F;
    --accentColor1_dark: #fd501b;
    --accentColor2: #ffff94;
    --primaryColor_light: #171f3d;
    --primaryColor_default: #1E2749;
    --accentColor2_dark: #ffff00;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    font-family: Noto sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Poppins;
}

body {
    background-color: var(--backgroundColor);
    scroll-behavior: smooth;
}

nav {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
    z-index: 2;
}

nav>ul>li {
    display: inline;
}

nav>ul>li>a {
    transition: 500ms;
}

nav>ul>li>a,
nav>a {
    padding: 0.5em 1.5rem;
    position: relative;
    text-decoration: none;
    color: var(--paragraphColor);
}

nav>a {
    display: flex;
}

nav>a>p {
    color: var(--paragraphColor);
    display: flex;
    font-size: 1.3rem;
    position: absolute;
    font-weight: 800;
    width: max-content;
    top: 2rem;
    left: 85%;
    align-items: center;
}

nav>a>img {
    max-width: 75px;
    padding: 1rem;
}

header.heroContainer>img {
    width: 100%;
}

header.heroContainer {
    position: relative;
    max-height: 100vh;
    overflow: hidden;
}

a.active {
    position: relative;
    color: var(--accentColor1);
}

a.active:hover {
    color: var(--accentColor1);
}

a.active:after {
    border-radius: 50%;
    left: 5%;
    top: 0.875rem;
    position: absolute;
    content: "";
    height: 10px;
    background-color: var(--accentColor1_dark);
    width: 10px;
}

header.heroContainer>section {
    display: flex;
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

header.heroContainer>section>article {
    display: grid;
    padding: 2rem 7rem;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

header.heroContainer>section>article:after {
    content: '';
    width: 100%;
    height: 100%;
    right: 0;
    filter: blur(1px);
    border-radius: 10px;
    z-index: -1;
    position: absolute;
    background-color: rgba(29, 29, 29, 0.7);
}

header.heroContainer>section>article>h1 {
    font-size: 3rem;
    color: var(--paragraphColor);
    font-weight: 800;
}

header.heroContainer>section>article>h2 {
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--accentColor1);
}

.quickNav {
    background-color: var(--accentColor1_dark);
    display: flex;
}

.quickNav>header {
    width: max-content;
    margin: auto;
    z-index: 10;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-shrink: 1;
}

nav>ul>li>a:hover {
    color: var(--accentColor1);
}

nav>ul>li>a:not(.active):after {
    content: "";
    height: 10px;
    left: 6%;
    top: 0.875rem;
    width: 10px;
    transition: 600ms ease opacity;
    border-radius: 50%;
    background-color: var(--accentColor1_dark);
    position: absolute;
    opacity: 0;
}

nav>ul>li>a:not(.active):hover:after {
    opacity: 1;
}

.contact-bttn {
    border-width: 1px;
    border-style: solid;
    border-color: var(--accentColor1);
    color: var(--accentColor1);
    padding: 0.5rem 1.5rem;
    transition: 500ms ease-in-out;
    border-radius: 5px;
}

.contact-bttn:hover {
    background-color: var(--accentColor1);
    color: black;
}

.quickNav>header>article>a>header {
    height: 300px;
    width: 100%;
    top: 0;
    font-size: 1.75rem;
    display: flex;
    position: absolute;
    color: var(--paragraphColor);
    z-index: 1;
    padding-left: 1rem;
}

figcaption>b {
    padding-right: 0.3rem;
}

.quickNav>header>article>a>header:after {
    content: '';
    height: 5px;
    top: 1.3rem;
    width: 5px;
    background-color: var(--paragraphColor);
    position: absolute;
    left: -1%;
}

.quickNav>header>article>a:after {
    content: '';
    background-color: white;
    width: calc(100% + 8px);
    right: -4px;
    position: absolute;
    top: calc(50px + 2em);
    height: 190px;
    transition: 500ms ease-in-out;
    opacity: 0;
    z-index: -1;
    border-radius: 0px 0px 10px 10px;
}

.quickNav>header>article>a:hover::after {
    opacity: 1;
}

.quickNav>header>article>a>header:hover img {
    border: 1px solid red
}

.quickNav>header>article {
    position: relative;
    height: 50px;
    flex-basis: calc(100% / 3);
}

.quickNav>header>article>a>img {
    border-radius: 10px;
    width: 100%;
    height: 300px;
}

.quickNav>header>article>a>img:hover {
    border: 2px solid red;
}

.quickNav>header>article>a:before {
    content: '';
    height: 150px;
    width: calc(100% + 4px);
    z-index: 1;
    position: absolute;
    background-image: linear-gradient(to bottom, var(--accentColor1_dark) 0%, transparent);
    top: -1px;
    left: -1px;
}

.quickNav>header>article>a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

.heroText {
    padding: 5rem;
    text-align: center;
    margin-top: 16em;
    background-color: var(--primaryColor_light);
}

header {
    font-family: Poppins;
}

.heroText>header {
    font-size: 2rem;
    font-family: Poppins;
    color: var(--paragraphColor);
    font-weight: 800;
}

.heroText>p {
    font-size: 1.5rem;
    padding-top: 0.5rem;
}

.heroText.footerText {
    margin-top: 0em;
}

.articles>section>article {
    flex-basis: 50%;
    flex-grow: 0;
    align-items: center;
}

.articles>section {
    gap: 5rem;
    align-items: center;
    padding-bottom: 7.5rem;
    display: flex;
}

.articles>section:nth-child(2n) {
    position: relative;
    flex-direction: row-reverse;
}

.articles {
    padding: 5rem;
    max-width: 80%;
    position: relative;
    left: 10%;
}

.articles>section>article>header {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--paragraphColor);
}

.articles .subHeader {
    color: rgb(167, 167, 167);
    padding-bottom: 0.5rem;
}

.articles .introduction {
    font-style: italic;
    padding-bottom: 0.8rem;
}

.articles>section>article>p {
    line-height: 1.8;
    font-size: 1rem;
    word-spacing: 1px;
}

.contact-bttn.active {
    background-color: var(--accentColor1);
    color: black;
}

.contact-bttn.active::after {
    display: none;
}

.contact-bttn.active:hover {
    color: black;
}

.articles sup,
article sub {
    font-style: normal;
}

sup>a {
    color: var(--accentColor2_dark);
    text-decoration: none;
    font-family: Noto Sans;
    padding-left: 3px;
}

.articles>section>figure>img {
    display: block;
    max-width: 100%;
    border-radius: 1rem;
    border-bottom-left-radius: 0em;
}

.articles>section>figure>a {
    border: 2px solid var(--secundaryColor);
    right: 0.7rem;
    color: var(--secundaryColor);
    cursor: pointer;
    text-decoration: none;
    bottom: 0.7rem;
    position: absolute;
    width: max-content;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    transition: 500ms ease;
}

.articles>section>figure>a:hover {
    background-color: var(--secundaryColor);
    color: black;
}

.articles>section:nth-child(2n)>figure>a {
    left: 0.7rem;
}

.articles>section>figure {
    position: relative;
    height: max-content;
    flex-basis: 50%;
}

.heroText>ul {
    padding: 2em 0em;
}

.heroText>ul>li {
    display: inline;
    padding: 1rem;
}

.heroText>ul>li>a {
    background-color: var(--accentColor1_dark);
    color: white;
    text-decoration: none;
    border: 1px solid var(--accentColor1_dark);
    padding: 0.5rem 1.2rem;
    border-radius: 0.5rem;
}

.heroText>ul>li:first-child>a {
    color: var(--accentColor1_dark);
    background-color: transparent;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 1.2rem;
    border-radius: 0.5rem;
}

footer {
    background-color: var(--primaryColor_default);
    text-align: center;
}

.footerHero {
    padding: 1rem 2rem;
    background-color: var(--primaryColor_light);
    color: var(--paragraphColor);
    max-width: 80%;
    left: 10%;
    position: relative;
    border-radius: 1rem;
    margin-top: 3rem;
}

footer>footer {
    color: white;
    padding: 2rem 0rem;
    font-weight: 100;
}

footer>footer>p:nth-child(1) {
    padding-bottom: 0.7rem;
}

footer>footer>p:nth-child(2) {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

footer>header {
    display: flex;
    max-width: 80%;
    left: 10%;
    position: relative;
    justify-content: space-between;
}

footer img {
    max-width: 75px;
    aspect-ratio: 1;
}

footer>header>section>p {
    max-width: 50%;
    color: rgb(208, 208, 208);
    line-height: 1.5;
    text-align: left;
}

footer>header>section>img {
    display: grid;
    margin-bottom: 1rem;
}

body>footer {
    padding: 5rem 2rem 0rem 2rem;
}

.footerNav header {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 800;
    color: rgb(190, 190, 190);
    padding-bottom: 1rem;
}

.footerNav header:first-letter {
    text-transform: uppercase;
}

.footerNav>.footerLinks {
    width: 60%;
    position: relative;
    justify-content: space-between;
    display: flex;
}

.footerNav>section>ul>li {
    margin-bottom: 1rem;
    list-style-type: none;
    text-align: left;
}

.footerNav {
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: right;
    text-align: right;
    right: -14%;
}

.footerNav>section>ul>li>a {
    color: white;
    text-decoration: none;
    position: relative;
    transition: 500ms;
}

figcaption {
    position: absolute;
    font-weight: 200;
    bottom: -1.6rem;
    color: var(--secundaryColor);
}

.footerLinks>ul>li>a:hover {
    color: var(--accentColor1);
}

.footerLinks>ul>li>a:after {
    content: "";
    height: 10px;
    left: -20px;
    top: 6px;
    width: 10px;
    transition: 600ms ease opacity;
    border-radius: 50%;
    background-color: var(--accentColor1_dark);
    position: absolute;
    opacity: 0;
}

.footerLinks>ul>li>a:hover:after {
    opacity: 1;
}

.pageNav {
    color: white;
    max-width: 80%;
    left: 10%;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    padding: 5em 0em;
    position: relative;
    row-gap: 1rem;
    border-bottom: 2px solid var(--paragraphColor);
}

.pageNav>a {
    color: var(--secundaryColor);
    width: 450px;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid;
    text-decoration: none;
    gap: 1rem;
    display: flex;
    align-items: center;
    transition: 500ms ease color;
}

.pageNav[data-button-count="4"] a {
    width: 350px;
}

.pageTree {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5em;
    padding-bottom: 2em;
    max-width: 80%;
    left: 10%;
    position: relative;
}

.pageTree>a {
    color: var(--secundaryColor);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: 500ms ease color;
}

.pageTree>a:hover {
    color: var(--accentColor1_dark);
}

.pageNav p {
    transition: 500ms ease color;
    color: var(--secundaryColor);
}

.pageNav>a:hover {
    color: var(--accentColor1_dark);
}

.pageNav>a:hover p {
    color: var(--accentColor1_dark);
}

.pageNav header {
    font-size: 1.2rem;
    font-weight: bold;
}

p {
    color: var(--paragraphColor);
}

.paragraphs figcaption {
    position: relative;
    bottom: 0;
}

.paragraphs {
    max-width: 80%;
    left: 10%;
    padding: 5rem;
    padding-bottom: 0em;
    position: relative;
}

.paragraphs>article>figure>img {
    max-width: 100%;
}

.paragraphs>article {
    display: grid;
    gap: 2rem;
    margin-bottom: 5rem;
    grid-template-columns: 1fr 1fr;
}

.paragraphs header {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--paragraphColor);
}

.paragraphs .subHeader {
    padding-bottom: 1rem;
}

.paragraphs .sectionMotto {
    font-style: italic;
    padding-bottom: 1rem;
    color: #E4D9FF;
}

.paragraphs P {
    padding-bottom: 1rem;
    max-width: 80%;
    line-height: 1.5;
}

.paragraphs ul {
    list-style-type: none;
    color: var(--paragraphColor);
}

.paragraphs ul>li {
    position: relative;
    padding-left: 2rem;
    line-height: 1.5;
    padding-bottom: 1rem;
}

.paragraphs ul>li::before {
    content: '';
    height: 15px;
    top: 8px;
    width: 15px;
    background-color: var(--accentColor1_dark);
    position: absolute;
    left: 0rem;
}

.paragraphs ul>li>b {
    display: block;
    padding-bottom: 0.3rem;
    color: var(--accentColor1);
    font-size: 1.2rem;
}

.inlineVersion {
    background: none;
    padding: 0em;
    text-align: unset;
    margin-left: -2rem;
}

.inlineVersion li::before {
    display: none;
    content: '';
}

.sources {
    max-width: 60%;
    left: 20%;
    position: relative;
    color: var(--paragraphColor);
    padding: 2rem 3rem;
    border: 1px solid;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.sources header {
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
    font-weight: 800;
}

.sources a {
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
    color: var(--paragraphColor);
}

.sources p {
    padding-bottom: 0.5rem;
}

.sources a::before {
    content: '';
    height: 10px;
    top: 7px;
    width: 10px;
    background-color: var(--secundaryColor);
    position: absolute;
    left: 0rem;
    border-radius: 50%;
}

.no-border {
    border: none;
}

.IntroductionParagraph {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    padding: 3em 15%;
    background-color: var(--primaryColor_light);
    position: relative;
}

.IntroductionParagraph p {
    margin-bottom: 0.8rem;
    line-height: 1.5;
}

p.subHeader {
    color: var(--paragraphColor);
    font-weight: bold;
    font-family: poppins;
}

ul.symptomenList li {
    color: var(--paragraphColor);
}

ul.symptomenList li::before {
    background-color: var(--secundaryColor);
    width: 10px;
    height: 10px;
    left: 0.1em;
}

.subCategory {
    max-width: 90%;
    left: 10%;
    position: relative;
    margin-bottom: 2em;
}

.single-column {
    grid-template-columns: 1fr;
    position: relative;
    padding: 5rem calc(10% + 5em);
    max-width: 60%;
    border-radius: 0px 1rem 1rem 0px;
}

.single-column header {
    color: var(--paragraphColor);
    font-family: poppins;
    font-weight: 800;
    font-size: 1.2rem;
}

.paragraphs>article>section>p.subHeader {
    font-weight: 100;
    letter-spacing: 1px;
}

.paragraphs>article>section>p.subHeader:nth-child(3) {
    font-weight: bold;
    font-size: 1.1rem;
}

.inlineVersion>ul>li:nth-child(2) {
    padding-left: 0em;
}

.contactBody {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contactBody p.subHeader {
    font-weight: 200;
    text-indent: 1rem;
}

.contactBody header {
    font-weight: bold;
    color: var(--paragraphColor);
    font-size: 1.5rem;
}

.contactBody p {
    margin-bottom: 0.8rem;
    line-height: 1.5;
    letter-spacing: 1px;
}

.contactBody>section {
    padding: 5em;
}

.contactBody section:nth-child(2) {
    margin-top: 50px;
    background-color: var(--primaryColor_light);
}

.contactBody>section:nth-child(1) {
    display: flex;
    align-items: center;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    color: var(--paragraphColor);
}

form label {
    font-weight: bold;
    margin-bottom: 0.2rem;
    color: var(--paragraphColor);
}

form input {
    outline: transparent;
    width: 80%;
    margin-bottom: 1rem;
    padding: 0.4rem;
    border-radius: 5px;
}

form input[type="radio"] {
    width: max-content;
    margin-bottom: 0.2rem;
}

label {
    display: block;
}

.radioLabel {
    display: inline;
    padding-left: 0.2rem;
    font-weight: 200;
    cursor: pointer;
}

label[for="e-mail"] {
    margin-top: 1rem;
}

label>sup {
    font-weight: 200;
}

textarea {
    height: calc(100% - 45px - 2.2rem);
    width: 100%;
    display: block;
    outline: transparent;
    font-family: Noto sans;
    resize: none;
    padding: 0.4rem;
}

form input[type="submit"] {
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    float: right;
    margin-top: 1rem;
    color: var(--secundaryColor);
    position: relative;
    transition: 500ms;
    width: max-content;
    border: 2px solid var(--secundaryColor);
    background: none;
    cursor: pointer;
}

form legend {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    height: 40px;
    font-family: Poppins;
    font-weight: bold;
}

input[type='radio'] {
    position: relative;
    cursor: pointer;
}

input[type='radio']:checked:after {
    border-radius: 15px;
    height: 100%;
    width: 100%;
    border: 1px solid var(--paragraphColor);
    box-sizing: border-box;
    position: absolute;
    background-color: var(--accentColor1_dark);
    content: '';
    display: inline-block;
    visibility: visible;
}

form input:last-child {
    margin-bottom: 0em;
}

form button:hover {
    color: black;
    background-color: var(--secundaryColor);
}

form span {
    display: block;
    padding-bottom: 2px;
}

@media screen and (max-width: 768px) {
    body {
        display: none;
    }
}