/* CCS kleuren variablen en google import for Noto Sans (Paragraph) en Poppins (headers) */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*No used anymore because of the jigsaw.w3.org validator, */

:root {
    --backgroundColor: #0B1021;
    --paragraphColor: #FAFAFF;
    --secundaryColor: #E4D9FF;
    --accentColor1: #FF784F;
    --accentColor1_dark: #fd501b;
    --accentColor2: #ffff94;
    --primaryColor_light: #171f3d;
    --primaryColor_default: #1E2749;
    --accentColor2_dark: #ffff00;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    font-family: "Noto sans";
}

html {
    overflow-x: hidden;
    max-width: 100%;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Poppins;
}

body {
    background-color: #0B1021;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
    z-index: 2;
}

nav>ul>li {
    display: inline;
}

nav>ul>li>a {
    transition: 500ms;
}

nav>ul>li>a,
nav>a {
    padding: 0.5em 1.5rem;
    position: relative;
    text-decoration: none;
    color: #FAFAFF;
}

nav>a {
    display: flex;
}

nav>a>p {
    color: #FAFAFF;
    display: flex;
    font-size: 1.3rem;
    position: absolute;
    font-weight: 800;
    width: max-content;
    top: 2rem;
    left: 85%;
    align-items: center;
}

nav>a>img {
    max-width: 75px;
    padding: 1rem;
}

header.heroContainer>img {
    display: block;
    margin: auto;
    max-width: 100%;
}

header.heroContainer {
    position: relative;
    background-color: black;
    max-height: 100vh;
    overflow: hidden;
}

a.active {
    position: relative;
    color: #FF784F;
}

a.active:hover {
    color: #FF784F;
}

a.active:after {
    border-radius: 50%;
    left: 5%;
    top: 0.875rem;
    position: absolute;
    content: "";
    height: 10px;
    background-color: #fd501b;
    width: 10px;
}

header.heroContainer>section {
    display: flex;
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

header.heroContainer>section>article {
    display: grid;
    padding: 2rem 7rem;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

header.heroContainer>section>article:after {
    content: '';
    width: 100%;
    height: 100%;
    right: 0;
    filter: blur(1px);
    border-radius: 10px;
    z-index: -1;
    position: absolute;
    background-color: rgba(29, 29, 29, 0.7);
}

header.heroContainer>section>article>.bigTitle {
    font-size: 3rem;
    font-family: poppins;
    color: #FAFAFF;
    font-weight: 800;
}

header.heroContainer>section>article>h2 {
    font-size: 1.5rem;
    font-weight: 200;
    color: #FF784F;
}

.quickNav {
    background-color: #fd501b;
    display: flex;
    z-index: 0;
    position: relative;
}

.quickNav>header {
    width: max-content;
    margin: auto;
    z-index: 10;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-shrink: 1;
}

nav>ul>li>a:hover {
    color: #FF784F;
}

nav>ul>li>a:not(.active):after {
    content: "";
    height: 10px;
    left: 6%;
    top: 0.875rem;
    width: 10px;
    transition: 600ms ease opacity;
    border-radius: 50%;
    background-color: #fd501b;
    position: absolute;
    opacity: 0;
}

nav>ul>li>a:not(.active):hover:after {
    opacity: 1;
}

.contact-bttn {
    border-width: 1px;
    border-style: solid;
    border-color: #FF784F;
    color: #FF784F;
    padding: 0.5rem 1.5rem;
    transition: 500ms ease-in-out;
    border-radius: 5px;
}

.contact-bttn:hover {
    background-color: #FF784F;
    color: black;
}

.quickNav>header>article>a>h4 {
    height: 300px;
    width: 100%;
    top: 0;
    font-size: 1.75rem;
    display: flex;
    position: absolute;
    color: #FAFAFF;
    z-index: 1;
    padding-left: 1rem;
}

.hidden {
    display: none;
}

figcaption>b {
    padding-right: 0.3rem;
}

.quickNav>header>article>a>h4:after {
    content: '';
    height: 5px;
    top: 1.3rem;
    width: 5px;
    background-color: #FAFAFF;
    position: absolute;
    left: -1%;
}

.quickNav>header>article>a:after {
    content: '';
    background-color: white;
    width: calc(100% + 8px);
    right: -4px;
    position: absolute;
    top: calc(50px + 2em);
    height: 190px;
    transition: 500ms ease-in-out;
    opacity: 0;
    z-index: -1;
    border-radius: 0px 0px 10px 10px;
}

.quickNav>header>article>a:hover::after {
    opacity: 1;
}

.quickNav>header>article>a>header:hover img {
    border: 1px solid red
}

.quickNav>header>article {
    position: relative;
    height: 50px;
    flex-basis: calc(100% / 3);
}

.quickNav>header>article>a>img {
    border-radius: 10px;
    width: 100%;
    height: 300px;
}

.quickNav>header>article>a>img:hover {
    border: 2px solid red;
}

.quickNav>header>article>a:before {
    content: '';
    height: 150px;
    width: calc(100% + 4px);
    z-index: 1;
    position: absolute;
    background-image: linear-gradient(to bottom, #fd501b 0%, transparent);
    top: -1px;
    left: -1px;
}

.quickNav>header>article>a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

.heroText {
    padding: 5rem;
    text-align: center;
    margin-top: 16em;
    background-color: #171f3d;
}

header {
    font-family: Poppins;
}

.heroText>header {
    font-size: 2rem;
    font-family: Poppins;
    color: #FAFAFF;
    font-weight: 800;
}

.heroText>p {
    font-size: 1.5rem;
    font-weight: 200;
    padding-top: 0.5rem;
}

.heroText.footerText {
    margin-top: 0em;
    color: #FAFAFF;
}

.articles>section>article {
    flex-basis: 50%;
    flex-grow: 0;
    align-items: center;
}

.articles>section {
    gap: 5rem;
    align-items: center;
    padding-bottom: 7.5rem;
    display: flex;
}

.articles>section:nth-child(2n) {
    position: relative;
    flex-direction: row-reverse;
}

.articles {
    padding: 5rem;
    max-width: 80%;
    position: relative;
    left: 10%;
}

.articles>section>article>header {
    font-size: 1.8rem;
    font-weight: bold;
    color: #FAFAFF;
}

.articles .subHeader {
    color: rgb(167, 167, 167);
    padding-bottom: 0.5rem;
}

.articles .introduction {
    font-style: italic;
    padding-bottom: 0.8rem;
}

.articles>section>article>p {
    line-height: 1.8;
    font-size: 1rem;
    word-spacing: 1px;
}

.contact-bttn.active {
    background-color: #FF784F;
    color: black;
}

.contact-bttn.active::after {
    display: none;
}

.contact-bttn.active:hover {
    color: black;
}

.articles sup,
article sub {
    font-style: normal;
}

sup>a {
    color: #ffff00;
    text-decoration: none;
    font-family: "Noto Sans";
    padding-left: 3px;
}

.articles>section>figure>img {
    display: block;
    max-width: 100%;
    border: 3px solid #FF784F;
    border-bottom-left-radius: 0em;
}

.articles>section>figure>a {
    border: 2px solid #FF784F;
    right: 0rem;
    background-color: #FF784F;
    cursor: pointer;
    text-decoration: none;
    bottom: 0rem;
    position: absolute;
    color: #0B1021;
    width: max-content;
    padding: 0.5rem 1rem;
    border-radius: 0;
    border-top-left-radius: 0.4rem;
    transition: 500ms ease;
}

.articles>section>figure>a:hover {
    background-color: #FAFAFF;
    color: black;
}

.articles>section:nth-child(2n)>figure>a {
    left: 0rem;
    border-radius: 0;
    border-top-right-radius: 0.4rem;
}

.articles>section>figure {
    position: relative;
    height: max-content;
    flex-basis: 50%;
}

.heroText>ul {
    padding: 2em 0em;
}

.heroText>ul>li {
    display: inline;
    padding: 1rem;
}

.heroText>ul>li>a {
    background-color: #fd501b;
    color: white;
    text-decoration: none;
    border: 1px solid #fd501b;
    padding: 0.5rem 1.2rem;
    border-radius: 0.5rem;
}

.heroText>ul>li:first-child>a {
    color: #fd501b;
    background-color: transparent;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 1.2rem;
    border-radius: 0.5rem;
}

footer {
    background-color: #1E2749;
    text-align: center;
}

.footerHero {
    padding: 1rem 2rem;
    background-color: #171f3d;
    color: #FAFAFF;
    max-width: 80%;
    left: 10%;
    position: relative;
    border-radius: 1rem;
    display: grid;
    justify-content: center;
    margin-top: 3rem;
}

footer>section:nth-child(3) {
    display: grid;
    justify-content: center;
}

footer>section {
    color: white;
    padding: 2rem 0rem;
    font-weight: 100;
}

footer>section>p:nth-child(1) {
    padding-bottom: 0.7rem;
}

footer>section>p:nth-child(2) {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

footer>section {
    display: flex;
    max-width: 80%;
    left: 10%;
    position: relative;
    justify-content: space-between;
}

footer img {
    max-width: 75px;
    aspect-ratio: 1;
}

footer>section>section>p {
    max-width: 50%;
    color: #FAFAFF;
    line-height: 1.5;
    text-align: left;
}

footer>section>h5 {
    font-weight: normal;
    padding-bottom: 1rem;
}

footer>section>section>img {
    display: grid;
    margin-bottom: 1rem;
}

body>footer {
    padding: 5rem 2rem 0rem 2rem;
    z-index: 10000;
    position: relative;
}

.footerNav h3 {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 800;
    color: #FAFAFF;
    padding-bottom: 1rem;
}

.footerNav h3:first-letter {
    text-transform: uppercase;
}

.footerNav>.footerLinks {
    width: 60%;
    position: relative;
    justify-content: space-between;
    display: flex;
}

.footerNav>section>ul>li {
    margin-bottom: 1rem;
    list-style-type: none;
    text-align: left;
}

.footerNav {
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: right;
    text-align: right;
    right: -14%;
}

.footerNav>section>ul>li>a {
    color: white;
    text-decoration: none;
    position: relative;
    transition: 500ms;
    font-weight: 300;
}

.footerHero>h5 {
    display: grid;
    font-size: 1rem;
    font-weight: 200;
    padding-bottom: 0em;
    gap: 0.5rem;
}

.footerHero>h5>b {
    font-size: 1.2rem;
}

figcaption {
    line-height: 1.5;
    position: absolute;
    font-weight: 200;
    padding-top: 0.5rem;
    color: #E4D9FF;
}

.footerLinks>ul>li>a:hover {
    color: #FF784F;
}

.footerLinks>ul>li>a:after {
    content: "";
    height: 10px;
    left: -20px;
    top: 6px;
    width: 10px;
    transition: 600ms ease opacity;
    border-radius: 50%;
    background-color: #fd501b;
    position: absolute;
    opacity: 0;
}

.footerLinks>ul>li>a:hover:after {
    opacity: 1;
}

.pageNav {
    color: white;
    max-width: 80%;
    left: 10%;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    padding: 5em 0em;
    position: relative;
    row-gap: 1rem;
    border-bottom: 2px solid #FAFAFF;
}

.pageNav>a {
    color: #E4D9FF;
    width: 450px;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid;
    text-decoration: none;
    gap: 1rem;
    display: flex;
    align-items: center;
    transition: 500ms ease color;
}

.pageNav[data-button-count="4"] a {
    width: 350px;
}

.pageTree {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5em;
    padding-bottom: 2em;
    max-width: 80%;
    left: 10%;
    position: relative;
}

.pageTree>a {
    color: #E4D9FF;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: 500ms ease color;
}

.pageTree>a:hover {
    color: #fd501b;
}

.pageNav p {
    transition: 500ms ease color;
    color: #E4D9FF;
}

.pageNav>a:hover {
    color: #fd501b;
}

.pageNav>a:hover p {
    color: #fd501b;
}

.pageNav h2 {
    font-size: 1.2rem;
    font-weight: bold;
}

p {
    color: #FAFAFF;
}

.paragraphs figcaption {
    position: relative;
    bottom: 0;
}

.paragraphs {
    max-width: 80%;
    left: 10%;
    padding: 5rem;
    padding-bottom: 0em;
    position: relative;
}

.paragraphs>article>figure>img {
    max-width: 100%;
}

.paragraphs>article {
    display: grid;
    gap: 2rem;
    margin-bottom: 5rem;
    grid-template-columns: 1fr 1fr;
}

.paragraphs header {
    font-weight: bold;
    font-size: 1.5rem;
    color: #FAFAFF;
}

.paragraphs .subHeader {
    padding-bottom: 1rem;
}

.paragraphs .sectionMotto {
    font-style: italic;
    padding-bottom: 1rem;
    color: #E4D9FF;
}

.paragraphs P {
    padding-bottom: 1rem;
    max-width: 80%;
    line-height: 1.5;
}

.paragraphs ul {
    list-style-type: none;
    color: #FAFAFF;
}

.paragraphs ul>li {
    position: relative;
    padding-left: 2rem;
    line-height: 1.5;
    padding-bottom: 1rem;
}

.paragraphs ul>li::before {
    content: '';
    height: 15px;
    top: 8px;
    width: 15px;
    background-color: #fd501b;
    position: absolute;
    left: 0rem;
}

.paragraphs ul>li>b {
    display: block;
    padding-bottom: 0.3rem;
    color: #FF784F;
    font-size: 1.2rem;
}

.inlineVersion {
    background: none;
    padding: 0em;
    text-align: unset;
    margin-left: -2rem;
}

.inlineVersion li::before {
    display: none;
    content: '';
}

.sources {
    max-width: 60%;
    left: 20%;
    position: relative;
    color: #FAFAFF;
    padding: 2rem 3rem;
    border: 1px solid;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.sources header {
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
    font-weight: 800;
}

.sources a {
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
    color: #FAFAFF;
}

.sources p {
    padding-bottom: 0.5rem;
}

.sources a::before {
    content: '';
    height: 10px;
    top: 7px;
    width: 10px;
    background-color: #E4D9FF;
    position: absolute;
    left: 0rem;
    border-radius: 50%;
}

.no-border {
    border: none;
}

.IntroductionParagraph {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    padding: 3em 15%;
    background-color: #171f3d;
    position: relative;
}

.IntroductionParagraph p {
    margin-bottom: 0.8rem;
    line-height: 1.5;
}

p.subHeader {
    color: #FAFAFF;
    font-weight: 200;
    font-family: poppins;
}

ul.symptomenList li {
    color: #FAFAFF;
}

ul.symptomenList li::before {
    background-color: #E4D9FF;
    width: 10px;
    height: 10px;
    left: 0.1em;
}

.subCategory {
    max-width: 90%;
    left: 10%;
    position: relative;
    margin-bottom: 2em;
}

.single-column {
    grid-template-columns: 1fr;
    position: relative;
    padding: 5rem calc(10% + 5em);
    max-width: 60%;
    border-radius: 0px 1rem 1rem 0px;
}

.single-column header {
    color: #FAFAFF;
    font-family: poppins;
    font-weight: 800;
    font-size: 1.2rem;
}

.paragraphs>article>section>p.subHeader {
    font-weight: 100;
    letter-spacing: 1px;
}

.paragraphs>article>section>p.subHeader:nth-child(3) {
    font-weight: 200;
    font-size: 1.1rem;
    letter-spacing: 0px;
}

.inlineVersion>ul>li:nth-child(2) {
    padding-left: 0em;
}

.contactBody {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contactBody p.subHeader {
    font-weight: 200;
}

.flexBox {
    display: flex;
    align-items: center;
}

.contactBody h2 {
    font-weight: bold;
    color: #FAFAFF;
    font-size: 1.5rem;
}

.contactBody p {
    margin-bottom: 0.8rem;
    line-height: 1.5;
    letter-spacing: 0px;
}

.contactBody>section {
    padding: 5em;
}

.contactBody section:nth-child(2) {
    background-color: #171f3d;
}

.contactBody>section:nth-child(1) {
    display: flex;
    align-items: center;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    color: #FAFAFF;
}

form label {
    font-weight: bold;
    margin-bottom: 0.2rem;
    color: #FAFAFF;
}

form input {
    outline: transparent;
    width: 80%;
    margin-bottom: 1rem;
    padding: 0.4rem;
    border-radius: 5px;
}

form input[type="radio"] {
    width: max-content;
    margin-bottom: 0.2rem;
}

label {
    display: block;
}

nav>label {
    display: none;
}

.CookieMessage {
    color: white;
    position: fixed;
    display: flex;
    flex-flow: column-reverse;
    bottom: 1rem;
    right: 1rem;
    z-index: 9999;
    padding: 1rem;
    background-color: #1E2749;
    color: #FAFAFF;
    width: 400px;
    border-radius: 1rem;
}

.CookieMessage p {
    color: #FAFAFF;
}

.CookieMessage header {
    font-family: Poppins;
    font-weight: 800;
}

.CookieMessage label {
    margin-top: 1rem;
    width: max-content;
    padding: 0.2rem 1.2rem;
    cursor: pointer;
    border-radius: 0.3rem;
    border: 1px solid;
    transition: 500ms;
}

#cookie-toggle {
    display: none;
}

.CookieMessage label:hover {
    background-color: #FAFAFF;
    color: #0B1021;
}

.CookieCheckbox:checked~.CookieMessage {
    animation: fadeOut 500ms forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        display: none;
    }
}

.radioLabel {
    display: inline;
    padding-left: 0.2rem;
    font-weight: 200;
    cursor: pointer;
}

label[for="e-mail"] {
    margin-top: 1rem;
}

label>sup {
    font-weight: 200;
}

textarea {
    height: calc(100% - 45px - 2.2rem);
    width: 100%;
    display: block;
    outline: transparent;
    font-family: "Noto sans";
    resize: none;
    padding: 0.4rem;
}

form input[type="submit"] {
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    float: right;
    margin-top: 1rem;
    color: #E4D9FF;
    position: relative;
    transition: 500ms;
    width: max-content;
    border: 2px solid #E4D9FF;
    background: none;
    cursor: pointer;
}

form h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    height: 40px;
    font-family: Poppins;
    font-weight: bold;
}

input[type='radio'] {
    position: relative;
    cursor: pointer;
}

input[type='radio']:checked:after {
    border-radius: 15px;
    height: 100%;
    width: 100%;
    border: 1px solid #FAFAFF;
    box-sizing: border-box;
    position: absolute;
    background-color: #fd501b;
    content: '';
    display: inline-block;
    visibility: visible;
}

form input:last-child {
    margin-bottom: 0em;
}

form button:hover {
    color: black;
    background-color: #E4D9FF;
}

form span {
    display: block;
    padding-bottom: 2px;
}

.mobileMenu {
    display: none;
    z-index: 11;
}

#menu-toggle {
    display: none;
}

#salutationAanhef {
    font-weight: bold;
    letter-spacing: normal;
    margin-bottom: 0;
}

label[for="email"] {
    padding-top: 1rem;
}

#noBackground {
    background-color: transparent;
}

@media screen and (max-width: 768px) {
    section {
        overflow-x: hidden;
    }
    a.mobileMenu {
        position: absolute;
        bottom: 1rem;
        text-align: center;
        width: 140px;
        text-decoration: none;
        margin-bottom: 3rem;
    }
    a.active:after {
        left: -20px;
    }
    body nav>ul>li {
        display: block;
        padding-bottom: 1.5rem;
    }
    body nav {
        padding: 0em 1em;
    }
    nav>ul>li>a,
    nav>a {
        padding-left: 0em;
    }
    nav>.contact-bttn {
        display: none;
    }
    #menu-toggle {
        display: none;
    }
    .hamburger {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 20px;
        z-index: 11;
        cursor: pointer;
    }
    .hamburger span {
        position: absolute;
        left: 0;
        right: 0;
        height: 3px;
        background-color: #FF784F;
    }
    .hamburger span:nth-child(1) {
        top: 0;
    }
    .hamburger span:nth-child(2) {
        top: 9px;
    }
    .hamburger span:nth-child(3) {
        bottom: 0;
    }
    .mobileMenu {
        display: block;
        padding-right: 1em;
        z-index: 11;
    }
    #menu-toggle:checked~.menu {
        display: block;
    }
    #menu-toggle:checked~.menu {
        display: block;
    }
    nav>ul.menu {
        position: fixed;
        display: none;
        right: 0;
        top: 0;
        height: 100vh;
        background-color: #171f3d;
        padding: 2rem;
        width: 200px;
        padding-top: 5rem;
    }
    .articles>section {
        display: block;
        padding-bottom: 5rem;
    }
    .articles {
        max-width: 100%;
        padding: 2em;
        left: 0;
    }
    .articles>section>article>header {
        margin-top: 5rem;
    }
    .pageTree {
        padding: 0em 0em 2em 0em;
    }
    .heroText {
        padding: 2em 1em;
        margin-top: 0em;
    }
    .heroText>ul {
        display: flex;
        flex-flow: wrap;
        padding-top: 0em;
        justify-content: center;
    }
    footer>section {
        display: block;
    }
    footer>section>section>p {
        max-width: 100%;
        padding-bottom: 3rem;
    }
    .footerNav {
        right: 0;
    }
    .footerNav>.footerLinks {
        width: 100%;
    }
    .quickNav>header {
        display: block;
        padding-right: 0em;
    }
    .quickNav>header>article {
        height: auto;
        margin-bottom: 2rem;
        width: 300px;
    }
    .quickNav {
        width: 100px;
        overflow-x: visible;
    }
    .quickNav>header>article>a:before {
        height: 100%;
        width: 300px;
        background-image: linear-gradient(to right, #fd501b 0%, transparent);
    }
    header.heroContainer>section>article {
        padding: 1em;
        margin-top: 2rem;
    }
    header.heroContainer>section>article>.bigTitle {
        font-size: 1.5rem;
    }
    header.heroContainer>section>article>h2 {
        font-size: 1rem;
    }
    .single-column {
        max-width: 100%;
        padding: 3rem;
        border-radius: 0;
    }
    .paragraphs>article {
        display: block;
    }
    .paragraphs {
        max-width: 100%;
        left: 0;
        padding: 2rem;
    }
    .paragraphs header {
        margin-top: 2rem;
    }
    .paragraphs P {
        max-width: 100%;
        letter-spacing: 0.2px;
    }
    .inlineVersion {
        padding: 0;
        margin: 0;
        float: left;
    }
    .paragraphs ul>li {
        padding-left: 0em;
    }
    .sources {
        max-width: 90%;
        padding: 1em 2em;
        margin-top: -5rem;
        left: 5%;
    }
    .footerText>ul {
        padding-top: 1rem;
        padding-bottom: 0em;
    }
    .paragraphs ul>li>b {
        text-indent: 1.8rem;
    }
    .IntroductionParagraph {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .paragraphs ul>li {
        text-indent: 1.2rem;
    }
    .contactBody section:nth-child(2) {
        margin-top: 30px;
    }
    .contactBody {
        display: block;
    }
    .contactBody>section {
        padding: 2rem;
    }
    .contactBody p.subHeader {
        text-indent: 0;
    }
    form {
        display: block;
    }
    nav>ul>li>a:not(.active):after {
        left: -20px;
    }
    .CookieMessage {
        bottom: 0rem;
        margin: 1rem;
        right: 0;
        width: auto;
    }
}